{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="{% static 'rentewheelie/about.css' %}">
        
    </head>
    <body>
        <p class="about-design">Welcome to Avec Moi! <br>
            where convenience meets reliability. With a commitment to providing top-notch service, we strive to offer a seamless car rental experience tailored to your needs.
             Whether you're embarking on a weekend getaway, a business trip, or simply need a temporary replacement vehicle, we've got you covered. Our extensive fleet 
             boasts a variety of vehicles, from compact cars to spacious SUVs, ensuring that you'll find the perfect ride for any occasion. With competitive rates, flexible
              rental options, and exceptional customer service, we make getting behind the wheel easy and hassle-free. Experience the freedom of the open road with 
              Avec Moi!.</p>
    </body>
</html>