{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Our fleet</title>
        <link rel="stylesheet" href="{% static 'rentewheelie/our_fleet.css' %}">
    </head>
    <body>
        <div class="main-content-container">
            <div class="car-container">
                <div class="container-upper">
                    <div class="car-name">Citroen Elysee</div>
                    <div class="car-rent"><button class="car-rent-button">Rent now ></button></div>
                </div>
                <div class="car-picture"><img src="{% static 'rentewheelie/images/citroen-elysee.jpeg' %}" alt=""></div>                  
                <div class="car-specs">
                    <ul> <p style="margin-bottom: 0px; text-decoration:underline; font-weight: bold;">Specifications</p>
                        <li>Manuel gear</li>
                        <li>Diesel/Benzin</li>
                        <li>5 persons</li>
                        <li>ABS</li>
                        <li>GPS</li>
                    </ul>
                </div>
                </div>

                <div class="car-container">
                    <div class="container-upper">
                        <div class="car-name">Hyundai i20</div>
                        <div class="car-rent"><button class="car-rent-button">Rent now ></button></div>
                    </div>
                    <div class="car-picture"><img src="{% static 'rentewheelie/images/hyundai-i20.jpeg' %}" alt=""></div>                  
                    <div class="car-specs">
                        <ul> <p style="margin-bottom: 0px; text-decoration:underline; font-weight: bold;">Specifications</p>
                            <li>Manuel gear</li>
                            <li>Diesel/Benzin</li>
                            <li>5 persons</li>
                            <li>ABS</li>
                            <li>GPS</li>
                        </ul>
                    </div>
                    </div>

                    <div class="car-container">
                        <div class="container-upper">
                            <div class="car-name">Mercedes C</div>
                            <div class="car-rent"><button class="car-rent-button">Rent now ></button></div>
                        </div>
                        <div class="car-picture"><img src="{% static 'rentewheelie/images/mercedes-c.jpeg' %}" alt=""></div>                  
                        <div class="car-specs">
                            <ul> <p style="margin-bottom: 0px; text-decoration:underline; font-weight: bold;">Specifications</p>
                                <li>Manuel gear</li>
                                <li>Diesel/Benzin</li>
                                <li>5 persons</li>
                                <li>ABS</li>
                                <li>GPS</li>
                            </ul>
                        </div>
                        </div>

                        <div class="car-container">
                            <div class="container-upper">
                                <div class="car-name">Peugeot 5008</div>
                                <div class="car-rent"><button class="car-rent-button">Rent now ></button></div>
                            </div>
                            <div class="car-picture"><img src="{% static 'rentewheelie/images/peugeot-5008.jpeg' %}" alt=""></div>                  
                            <div class="car-specs">
                                <ul> <p style="margin-bottom: 0px; text-decoration:underline; font-weight: bold;">Specifications</p>
                                    <li>Manuel gear</li>
                                    <li>Diesel/Benzin</li>
                                    <li>5 persons</li>
                                    <li>ABS</li>
                                    <li>GPS</li>
                                </ul>
                            </div>
                            </div>

            </div>
        </div>
    </body>
</html>