body {
    padding-bottom: 3000px;
}

.main-content-container {
    display: flex;
    flex-direction: row;
    height: 800px;
    flex-wrap: wrap;
}

.car-container {
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 590px;
    border-style: solid;
    border-width: 0.1px;
    margin-left: 30px;
    margin-top: 30px;
    
}

.container-upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.car-name {
    width: 325px;
    height: 50px;
    font-size: 25px;
    padding: 10px;
    font-weight: bold;
}

.car-rent {
    width: 325px;
    height: 50px;
}

.car-rent-button {
    padding: 10px;
    width: 320px;
    font-size: 25px;
    margin-top: 5px;
    margin-right: 5px;
    background-color: lightblue;
    border-radius: 20px;
    border-style: none;
}

.car-picture {
    height: 300px;
    
}

.car-specs {
    font-size: 20px;
}